<html>
<head>
<style>
table, th, td {
border: 1px;
border-collapse: collapse;
padding: 3px;
}    

 
  </style>
  </head>
  <body>
    
    <table class="center"> 
         <tr>  
            <th><app-button></app-button></th>
            <th><app-button></app-button></th>    
        <th><app-button></app-button></th>  
    </tr>
      <tr>
            <th><app-button></app-button></th>  
          <th><app-button></app-button></th>  
          <th><app-button></app-button></th>  
    </tr> 
     <tr>   
            </tr>
        </table>
    </body>
    </html>

